table, th, td {
    border: 1px solid;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th {
    height: 70px;
    text-align: left;
  }
  td {
    text-align: center;
    
  }
  th,td{
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  tr:hover{
     background-color: coral;
  }
  tr:nth-child(even) 
  {
    background-color: #f2f2f2;
}