div {
    height: 200px;
    width: 50%;
    background-color: rgb(135, 186, 4);
  }
  .hwt {
    height: 100px;
    width: 500px;
    background-color: rgb(37, 94, 102);
  }
  .hwt1
  {
    max-width: 500px;
    height: 100px;
    background-color: rgb(211, 219, 220);
  }
  .hwt2
  {
    max-height: 500px;
    width: 100px;
    background-color: powderblue;
  }